.box {
  width: 100px;
  height: 100px;
  background-color: pink;
  position: relative;

  /* animation 사용 */
  animation-name: my-ani;
  animation-duration: 0.3s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes my-ani {
  0% {
    left: 0;
  }
  25% {
    left: 200px;
  }
  50% {
    left: 400px;
  }
  75% {
    left: 200px;
  }
  100% {
    left: 0;
  }
}

.bounce-ball1 {
  width: 100px;
  height: 100px;
  position: relative;
  left: 100px;
  top: 0;
  border-radius: 50%;
  background-color: lightblue;
  animation-name: bounce1;
  /* animation-duration: 1s; */
  /* animation-timing-function: ease-in; */
  /* animation-iteration-count: infinite; */
  /* animation-duration: alternate; -> 애니메이션이 더 자연스럽게 연결 될 수 있도록 함  */
  /* 단축 프로퍼티 */
  /* animation: name duration timing-function delay iteration-count direction */
  animation: bounce1 2s ease-in infinite alternate;
}
@keyframes bounce1 {
  to {
    top: 0px;
  }
  from {
    top: 300px;
  }
}
.bounce-ball2 {
  width: 50px;
  height: 50px;
  background-color: lightcoral;
  position: relative;
  border-radius: 50%;
  animation-name: bounce2;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation: bounce2 1s ease-out infinite alternate;
}
@keyframes bounce2 {
  from,
  to {
    bottom: 0;
    animation-timing-function: ease-out;
    /* 0px에서 정상 속도로 시작해, 천천히 속도를 줄이면서 300px이 됨 */
    width: 60px;
  }
  50% {
    width: 100px;
    bottom: 300px;
    animation-timing-function: ease-in;
    /* 300px에서 천천히 시작해, 0px로 가면서 정상 속도로 끝남 */
  }
}
.ball {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* 참고) 배경색 그라데이션 및 그림자 적용 */
  background-color: gray;
  box-shadow: -5px 5px 10px inset(51, 51, 51, 0.5);
  animation-timing-function: ease-in;
  animation: ball 1s infinite;
}
@keyframes ball {
  0% {
    transform: translate(0px);
  }
  25% {
    transform: translate(calc(100vw - 100px), 0px);
  }
  50% {
    transform: translate(calc(100vw - 100px), calc(100vh - 100px));
  }
  75% {
    transform: translate(0, calc(100vh - 100px));
  }
  100% {
    transform: translate(0px);
  }
}
h2 {
  margin-top: calc(100vh - 100px);
}
p {
  animation: slidein 3s infinite;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0;
    width: 100%;
  }
}
