body {
  width: auto;
  height: 2000px;
  background-color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}
.good {
  width: auto;
  height: 1000px;
  background-color: yellow;
}
.fixed-tab {
  background-color: white;
  position: sticky;
  top: 0;
  background-color: pink;
  border: 2px solid black;
}
li {
  display: inline-block;
  padding: 20px;
  height: 100%;
}
.top-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: lightgreen;
  text-align: center;
  line-height: 50px;
}
.product-info {
  width: auto;
  height: 200px;
}
.top-btn {
  display: inline-block;
  background-color: aquamarine;
  border-radius: 50px 50px;
}
ul {
  margin: 0;
  padding: 0;
  /* list-style: none; */
}
a {
  color: black;
  text-decoration: none;
}
.fixed-tab ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
