/* 전체 선택자 */
* {
  color: blue;
}

/* 태그 선택자 */
/* 태그명 (속성: 속성값;) */
/* 해당 태그가 사용된 모든 요소 선택 */

li {
  background-color: aqua;
}
/* clas 선택자  */
/* html 내에서 해당 class를 가진 요소 선택 */
/* .클래스명 {속성: 속성값;} */
.red {
  background-color: red;
}
/* id 선택자 */
/* html 내에서 해당 id를 가진요소 선택  */
/* #아이디명 {속성: 속성값; } */
#li-orange {
  background-color: orange;
}

/* id와 clss 선택자중에서 id 선택자의 우선순위가 더 높음 */
/* 우선순위: 태그 < class 선택자 < id 선택자 순으로 우선순위를 가짐 */
